<form action="/random/results">
    <label for="min_number"> Minimum </label>
    <input id="min_number", type="text", placeholder="What number do you want to square", name="min_number">

    <label for="max_number"> Maximum </label>
    <input id="max_number", type="text", placeholder="What number do you want to square", name="max_number">

    <button> Pick Random Number</button>
    
    
</form>