<form>
    <label for="input_number"> Enter a number </label>
        <input id="input_number", type="text", placeholder="What number do you want to square", name="input_number">

        <button> Calculate square</button>
    
    
</form>