<form action="/square_root/results">
    <label for="input_number"> Enter a number </label>
        <input id="input_number", type="text", placeholder="What number do you want to square root", name="input_number">

        <button> Calculate square root</button>

</form>